<div class="container w-full lg:w-3/5 mx-auto mt-20 grid grid-cols-1 md:grid-cols-4 rounded-lg shadow-lg">


    <div class="col-span-1 md:col-span-2 bg-cover ">
        <img src="{{producto.imagen}}" alt="imagen producto" class=" rounded-lg lg:rounded-l-lg">
    </div>
    <div class=" col-span-1 md:col-span-2 flex flex-col">
        <div>
            <h2 class="text-center text-4xl font-semibold text-pink-500">{{producto.nombre}}</h2>   
        </div>
        <div class="grid grid-cols-2 mt-10">
            <p class="text-md text-center font-medium rounded">stock : {{producto.stock}}</p>
            <p class="text-md font-medium rounded">Cantidad : 1</p>
        </div>
        <div class="mt-10">
            <p class="ml-10 text-left text-md font-semibold rounded">{{producto.descripcion}}</p>
        </div>
          
            <a href="#" class="w-2/3 mx-auto py-3 bg-pink-400  hover:bg-pink-500 mt-10 transition-colors rounded text-white text-center text-xl" onclick="addProduct('{{producto.id}}')">
                Comprar
            </a>
        
      
    </div>
  

</div>
<div class="mt-10">
    <h2 class="mb-5 text-center text-3xl font-bold">Productos recomendados</h2>
{{>productos}}

</div>
<script src="/js/addproduct.js"></script>