{{#if productos}}

<div class="w-3/4 mx-auto grid grid-cols-2 xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 gap-4">
  {{#each productos}}
  <div class="w-full rounded-lg shadow-lg hover:bg-gray-100  ">
  
    <img src="{{this.imagen}}" class=" bg-cover bg-center rounded-t-lg  " alt="">
   
    <h3 class="text-center text-2xl font-medium">{{this.nombre}}</h3>
    <p class="text-center text-sm my-2 ">Precio : {{this.precio}}</p>
    <div class="flex justify-center m-5 gap-1 ">
      <a href="/detalle/{{id}}"
        class="w-40 bg-orange-400 hover:bg-orange-500 text-white text-center p-2 rounded transition-colors shadow-xl shadow-orange-200/60">Comprar</a>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div>
  <h2 class="text-center text-3xl">No hay productos disponible</h2>
</div>
{{/if}}
